body { padding-top: 70px; }


.fa {
  padding: 10px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 55%;
}

.fa:hover {
  opacity: 0.7;
}
.fa-envelope {
  background: #c0c4c5;
  color: white;
}


 /* footer section */
footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
footer h4 {
  border-bottom: 2px solid rgb(158, 156, 156);
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}
footer p {
  line-height: 20px;
}
footer span {
  font-weight: bold;
  padding-left: 20px;
}


/* copyright section */
.copyright {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
} 

/* navigation */
.navbar-default {
    background: #fff;
    border: none;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
    margin: 0 !important;
    position: fixed;
  }
.navbar-default .navbar-brand {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
    height: 90px;
    margin: 0;
    padding: 20px 20px 40px 20px;
	transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
   }
.navbar-brand:hover, .navbar-brand:clicked {
  background: dc5034;
}
.navbar-default .navbar-nav li a {
    border-right: 1px solid #f9f9f9;
    color: #202020;
     font-weight: bold;
    padding-right: 40px;
    padding-left: 40px;
    line-height: 60px;
	 transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
  }
.navbar-default .navbar-nav > li > a:clicked,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f2af00;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #f2af00;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
    border: none;
    padding-top: 30px;
}
.navbar-default .navbar-toggle .icon-bar {
    border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { 
  background-color: transparent 
}
/* font */
body
	{
		background: #fff;
		font-family: 'lane_-_narrowregular', sans-serif;
    line-height: 30px;
    margin : 20px;

  }
  #content{
    padding-top: 20px;
  }
  #content li{
    text-align: justify;
  }

@font-face {
    font-family: 'lane_-_narrowregular';
    src: url('../fonts/LANENAR_-webfont.eot');
    src: url('../fonts/LANENAR_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LANENAR_-webfont.woff') format('woff'),
         url('../fonts/LANENAR_-webfont.ttf') format('truetype'),
         url('../fonts/LANENAR_-webfont.svg#lane_-_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
h1{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

h2 {
  font-weight: bold;
   /* margin: 0 0 15px 0; */
  padding: 5px 0 5px 0;
}
h3 {
  font-weight: bold;
   /* margin: 0 0 15px 0; */
  padding: 5px 0 5px 0;
}

hr {
  border-color: #0e0d0d;
  margin: 0;
  opacity: 0.3;
}


/*------------------------------------------------------------------
  	[Promo Banner]
------------------------------------------------------------------*/
.promo-banner {
  text-align: center;
}

.promo-banner .promo-banner-title {
  font-size: 50px;
  color: #fff;
}

.promo-banner .promo-banner-text {
  font-size: 20px;
  color: #fff;
  opacity: .8;
}

/*------------------------------------------------------------------
  	[Promo Block]
------------------------------------------------------------------*/
.promo-block {
  position: relative;
  background: #fafafa;
  padding-top: 220px;
}

@media (max-width: 768px) {
  .promo-block {
    text-align: center;
    padding-top: 170px;
  }
}

.promo-block .promo-block-title {
  font-size: 70px;
  line-height: 1;
}

@media (max-width: 480px) {
  .promo-block .promo-block-title {
    font-size: 50px;
  }
}

.promo-block .promo-block-text {
  font-size: 25px;
}

.promo-block .promo-block-img-wrap {
  position: relative;
  height: 400px;
}

@media (max-width: 768px) {
  .promo-block .promo-block-img-wrap {
    height: auto;
  }
}

.promo-block .promo-block-img {
  position: absolute;
  right: 0;
  bottom: 0;
}

@media (max-width: 768px) {
  .promo-block .promo-block-img {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
}

/*------------------------------------------------------------------
  	[Social Icons]
------------------------------------------------------------------*/
.social-icons {
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 16px;
  color: #515769;
  background: #fff;
  text-align: center;
  border-radius: 50%;
  vertical-align: middle;
  padding: 11px;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}

.social-icons:hover {
  color: #fff;
  background: #515769;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

